
{% extends "layout.html" %}

{% block pageTitle %}
  EORI number management service
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="replace-eori" method="post">

        <h1 class="govuk-heading-l">
          Cancel subscriptions for GB123456123456
        </h1>

        <p class="govuk-body">The EORI number GB123456123456 does not have any subscriptions.</p>

        <p class="govuk-body">Go back to <a href="../update-or-cancel">replace an existing EORI number or cancel subscriptions to HMRC services</a>.</p>

    </div>
  </div>

{% endblock %}
