a
{% extends "layout.html" %}

{% block pageTitle %}
  EORI number management service
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="loading" method="post">

        <h1 class="govuk-heading-l">
          There was a problem replacing the EORI number
        </h1>

        <p class="govuk-body">The new EORI number GB023002000002 has not been subscribed to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>GB Safety and Security (GB S&S)</li>
        </ul>

        <p class="govuk-body">You need to <a href="#">create a live service ticket on ServiceNow</a> to fix the problem.</p>

        <p class="govuk-body">The new EORI number has been successfully subscribed to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Goods Vehicle Movement Service (GVMS)</li>
        </ul>

        <p class="govuk-body"><a href="update-or-cancel" class="govuk-link">Replace another EORI number or cancel subscriptions to HMRC services</a>.</p>


    </div>
  </div>

{% endblock %}
