
{% extends "layout.html" %}

{% block pageTitle %}
  EORI number management service
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="cancel-enrolments" method="post">

        <h1 class="govuk-heading-l">
          Cancel a trader’s subscriptions to HMRC services
        </h1>


        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="current-eori-number">
            What is the trader’s current EORI number?
          </label>
          <div id="account-number-hint" class="govuk-hint">
            The first two letters are GB, followed by 12 digits. For example, GB123456123456.
          </div>
          <input class="govuk-input govuk-input--width-20" id="current-eori-number" name="current-eori-number" type="text">
        </div>

        {{ govukDateInput({
          id: "date-of-establishment",
          namePrefix: "date-of-establishment",
          fieldset: {
            legend: {
              text: "What date was the trader established?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}

{{ govukButton({
  text: "Continue"
}) }}

    </div>
  </div>

{% endblock %}
