
{% extends "layout.html" %}

{% block pageTitle %}
  EORI number management service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="update-or-cancel-2" method="post">


{% set html %}
  <h3 class="govuk-notification-banner__heading">
    Subscriptions cancelled for {{ data['current-eori-number'] }}.
  </h3>
  <p class="govuk-body">You should email the company confirming that EORI number {{ data['current-eori-number'] }} subscriptions have been cancelled for:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>GB Safety and Security (GB S&S)</li>
    <li>Goods Vehicle Movement Service (GVMS)</li>
  </ul>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'success'
}) }}


{{ govukRadios({
  idPrefix: "update-or-cancel",
  name: "update-or-cancel",
  fieldset: {
    legend: {
      text: "Do you want to replace an existing EORI number or cancel subscriptions to HMRC services?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Update an EORI number",
      text: "Replace an existing EORI number"
    },
    {
      value: "Cancel an enrolment",
      text: "Cancel subscriptions to HMRC services"
    }
  ]
}) }}

<button class="govuk-button" data-module="govuk-button">Continue</button>


    </div>
  </div>

{% endblock %}
