{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "EORI number management service",
    serviceUrl: "index",
    navigation: [
    {
      href: "",
      text: ""
    }
    ]
  }) }}

  <div class="homepage-top">
  <div class="homepage-top-content">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
      <span>Prototypes</span>
    </h1>
  </div>
  </div>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    {# Start of most recent box #}
    <div class="most-recent">

      {# Start of prototype write up #}
      <div class="prototype-write-up">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of release</dt>
              <dd class="govuk-body">TBC</dd>
            </dl>
          </div>

          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Feature</dt>
              <dd class="govuk-body">User research round 2</dd>
            </dl>
          </div>

          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Related stories</dt>
              <dd class="govuk-body">TBC</dd>
            </dl>
          </div>
        </div>

        <h3 class="govuk-heading-s">Changes</h3>
        <p>Added button group to replace radios</p>

        <h3 class="govuk-heading-s">Hypothesis</h3>

        <p>TBC</p>


        <h3 class="govuk-heading-s">Research notes</h3>
        <p>Due to be added</p>


        <h3 class="govuk-heading-s">EORI routing</h3>
        <p>GB205672212000 - update EORI happy path</p>
        <p>GB112233445566 - cancel subscriptions happy path</p>
        <p>GB612599232321 - cancel subscriptions unhappy path</p>

        {{ govukButton({
          text: "View prototype",
          href: "ur-3/update-or-cancel"
        }) }}

      </div>
      {# End of prototype write up #}

    </div>
    {# End of most recent box #}

  <h2 class="govuk-heading-l">Previous versions</h2>

          {# Start of hidden panel #}
          <details class="govuk-details all-versions">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show all versions
              </span>
            </summary>

            <div class="govuk-details__text">

              {# Start of prototype write up #}
              <div class="prototype-write-up">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Date of release</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Feature</dt>
                      <dd class="govuk-body">User research</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Related stories</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>
                </div>

                <h3 class="govuk-heading-s">Changes</h3>
                <p>Added happy paths for update and remove and an unhappy path for remove</p>

                <h3 class="govuk-heading-s">Hypothesis</h3>

                <p>TBC</p>


                <h3 class="govuk-heading-s">Research notes</h3>
                <p>Due to be added</p>


                <h3 class="govuk-heading-s">EORI routing</h3>
                <p>GB205672212000 - update EORI happy path</p>
                <p>GB112233445566 - cancel subscriptions happy path</p>
                <p>GB612599232321 - cancel subscriptions unhappy path</p>

                {{ govukButton({
                  text: "View prototype",
                  href: "ur/update-or-cancel"
                }) }}

              </div>
              {# End of prototype write up #}

              {# Start of prototype write up #}
              <div class="prototype-write-up">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Date of release</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Feature</dt>
                      <dd class="govuk-body">Business process changes</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Related stories</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>
                </div>

                <h3 class="govuk-heading-s">Changes</h3>
                <p>Removed option to replace and cancel CTC enrolments</p>

                <h3 class="govuk-heading-s">Hypothesis</h3>

                <p>TBC</p>


                <h3 class="govuk-heading-s">Research notes</h3>
                <p>Due to be added</p>


                <h3 class="govuk-heading-s">EORI routing</h3>
                <p>GB205672212000 - update happy path</p>
                <p>GB612599232321 - services couldn't update</p>
                <p>GB205672212000 - change enrolments happy path</p>
                <p>GB612599232321 - services couldn't update</p>

                {{ govukButton({
                  text: "View prototype",
                  href: "04/update-or-cancel"
                }) }}

              </div>
              {# End of prototype write up #}

              {# Start of prototype write up #}
              <div class="prototype-write-up">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Date of release</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Feature</dt>
                      <dd class="govuk-body">Removed loading spinner</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Related stories</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>
                </div>

                <h3 class="govuk-heading-s">Changes</h3>
                <p>Loading spinner pages removed after PlatOps confirmed APIs</p>

                <h3 class="govuk-heading-s">Hypothesis</h3>

                <p>TBC</p>


                <h3 class="govuk-heading-s">Research notes</h3>
                <p>Due to be added</p>


                <h3 class="govuk-heading-s">EORI routing</h3>
                <p>GB205672212000 - update happy path</p>
                <p>GB612599232321 - services couldn't update</p>
                <p>GB205672212000 - change enrolments happy path</p>
                <p>GB612599232321 - services couldn't update</p>

                {{ govukButton({
                  text: "View prototype",
                  href: "03/update-or-cancel"
                }) }}

              </div>
              {# End of prototype write up #}

              {# Start of prototype write up #}
              <div class="prototype-write-up">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Date of release</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Feature</dt>
                      <dd class="govuk-body">Content updated by Tom</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Related stories</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>
                </div>

                <h3 class="govuk-heading-s">Changes</h3>
                <p>TBC</p>

                <h3 class="govuk-heading-s">Hypothesis</h3>

                <p>TBC</p>


                <h3 class="govuk-heading-s">Research notes</h3>
                <p>Due to be added</p>


                <h3 class="govuk-heading-s">EORI routing</h3>
                <p>GB205672212000 - update happy path</p>
                <p>GB612599232321 - services couldn't update</p>
                <p>GB205672212000 - change enrolments happy path</p>
                <p>GB612599232321 - services couldn't update</p>

                {{ govukButton({
                  text: "View prototype",
                  href: "02/update-or-cancel"
                }) }}

              </div>
              {# End of prototype write up #}

              {# Start of prototype write up #}
              <div class="prototype-write-up">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Date of release</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Feature</dt>
                      <dd class="govuk-body">EORI toolkit high fidelity v1.0</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Related stories</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>
                </div>

                <h3 class="govuk-heading-s">Changes</h3>
                <p>TBC</p>

                <h3 class="govuk-heading-s">Hypothesis</h3>

                <p>TBC</p>


                <h3 class="govuk-heading-s">Research notes</h3>
                <p>Due to be added</p>


                <h3 class="govuk-heading-s">EORI routing</h3>
                <p>GB205672212000 - update happy path</p>
                <p>GB612599232321 - services couldn't update</p>
                <p>GB205672212000 - change enrolments happy path</p>
                <p>GB612599232321 - services couldn't update</p>

                {{ govukButton({
                  text: "View prototype",
                  href: "01/update-or-cancel"
                }) }}

              </div>
              {# End of prototype write up #}

              {# Start of prototype write up #}
              <div class="prototype-write-up">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Date of release</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Feature</dt>
                      <dd class="govuk-body">Low fidelity prototype</dd>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Related stories</dt>
                      <dd class="govuk-body">TBC</dd>
                    </dl>
                  </div>
                </div>

                <h3 class="govuk-heading-s">Changes</h3>
                <p>TBC</p>

                <h3 class="govuk-heading-s">Hypothesis</h3>

                <p>TBC</p>


                <h3 class="govuk-heading-s">Research notes</h3>
                <p>Due to be added</p>

                {{ govukButton({
                  text: "View prototype",
                  href: "https://projects.invisionapp.com/share/BK131LWBVUR7#/screens"
                }) }}

              </div>
              {# End of prototype write up #}

        </details>
        {# End of hidden panel #}

  </div>
</div>

{% endblock %}
