
{% extends "layout.html" %}

{% block pageTitle %}
  EORI number management service
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <script>
        setTimeout(
        function() {
          window.location.replace ("success-cancel");
        }, 10000);
        </script>

        <h1 class="govuk-heading-l">
          Subscriptions are being cancelled for {{ data['current-eori-number'] }}
        </h1>

        <p class="govuk-body">It can take a few minutes to cancel subscriptions.</p>

        <p class="govuk-body">You should not close or refresh this page while the subscriptions are being cancelled.</p>

        <img src="https://user-images.githubusercontent.com/32877315/57133956-621e7600-6d9c-11e9-8170-1673b6307ca4.gif" alt="loading spinner">
    </div>
  </div>

{% endblock %}
